#nav-web li {
    float: none !important;
}

.m-top-30 {
    margin-top: 30px;
}

.slider .slides li .caption {
    position: relative !important;
    top: 0;
    margin-top: -70px;
}

.logoa {
    padding-top: 5px;
    margin-bottom: -20px;
}

.logoa img {
    border-radius: 50px;
    width: 50px;
}

.cl3 {
    width: 20% !important;
}

.side-nav li>a>i {
    margin-right: 20px !important;
}

body {
    background: #fff;
}

.white-space-pre-line {
    white-space: pre-line;
    text-align: left;
}

.brand-logo {
    color: #fff;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 40px;
}

.card {
    box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px -2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px -2px rgba(0, 0, 0, .2);
}

.card-content {
    /* border-top: 1px solid rgba(160,160,160,0.2); */
    margin-top: 10px;
    padding: 5px !important;
}

.card-content p {
    padding-bottom: 7px;
}

.card-content p a {
    color: rgb(104, 212, 58);
}

.btn-login {
    background-color: #fff;
    margin-bottom: 7px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: 1px solid #EA4177;
    border-radius: 3px;
    color: #EA4177;
}

.btn-login:hover {
    background-color: #EA4177 !important;
    border: 1px solid #fff;
    color: #fff !important;
}

.btn-coupon {
    background-color: #EA4177;
    margin-bottom: 7px;
    box-shadow: none !important;
    border: 1px solid;
    -webkit-box-shadow: none !important;
    border-radius: 3px;
}

.btn-coupon:active {
    background: #EA4177;
}

.btn-coupon:hover {
    background-color: #fff !important;
    border: 1px solid #EA4177;
    color: #EA4177 !important;
}

.btn-gift {
    background-color: #53B54B;
    margin-bottom: 7px;
    box-shadow: none !important;
    border: 1px solid;
    -webkit-box-shadow: none !important;
    border-radius: 3px;
}

.btn-gift:active {
    background: #53B54B;
}

.btn-gift:hover {
    background-color: #fff !important;
    border: 1px solid #53B54B;
    color: #53B54B !important;
}

#customBtn {
    display: inline-block;
    background: #E94341;
    color: white !important;
    width: 100%;
    border-radius: 3px;
    border: thin solid #888;
    white-space: nowrap;
    margin-bottom: 20px;
}

#customBtn:hover {
    cursor: pointer;
}

#customBtn a {
    color: white !important;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.icon {
    background: url(icons/120.png) transparent 10px 50% no-repeat;
    background-size: 30px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 38px;
}

a.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#customBtn2 {
    display: inline-block;
    background: #4064AC;
    color: white !important;
    width: 100%;
    border-radius: 3px;
    border: thin solid #888;
    white-space: nowrap;
    margin-bottom: 20px;
}

#customBtn2:hover {
    cursor: pointer;
}

#customBtn2 a {
    color: white !important;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

i.icon2 {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 42px;
    padding: 7px;
    padding-left: 15px;
}

a.buttonText2 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.modal_2 {
    width: 35% !important;
    height: 43% !important;
}

.modal_3 {
    width: 55% !important;
    height: 35% !important;
}

.level {
    color: rgba(238, 110, 115, 0.7);
}

/* .container {
    width: 100%;
    background-color: #ddd;
} */

.skills {
    text-align: center;
    padding-right: 20px;
    line-height: 32px;
    color: white;
    background-color: #F3999D;
    height: 30px;
}

.container_3 {
    width: 100%;
    background-color: rgba(240, 240, 240, .5);
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-bar {
    height: 30px;
    width: 0px;
    background: #F3999D;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
}

.container_4 {
    width: 100%;
}

.brum {
    background-color: rgba(240, 240, 240, .5) !important;
    height: 50px;
    line-height: 50px;
}

.breadcrumb {
    color: #F3999D !important;
    font-weight: 350;
}

.breadcrumb:before {
    color: #F3999D !important;
}

/* increase the height and width as you desire */

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-floating,
.dropdown-content,
.collapsible,
.side-nav {
    box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px -2px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.1), 0 0.5px 0.5px -2px rgba(0, 0, 0, .2);
}

.collapsible {
    border: none !important;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
    /* background: rgba(236, 64, 122, .9); */
    background: rgba(255, 255, 255, .9);
    border: 1px solid rgba(236, 64, 122, .5);
    width: auto;
    padding: 4px;
    color: #EA4177;
    font-weight: 500;
    text-align: center;
    border-radius: 3px;
}

nav {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-bottom: .5px solid rgba(238, 238, 238, .7);
}

.card .card-content .card-title {
    margin-bottom: 0px !important;
}

.img-gift {
    left: 20px;
    width: 70px;
    height: 70px;
    position: absolute;
}

.content-gift {
    margin-left: 40px;
    margin-top: 12px;
}

.code {
    text-transform: uppercase;
    padding: 10px;
    margin-right: 100px;
}

.expired {
    color: #C1C1C1;
}

.s2-img {
    margin-bottom: -6px;
    margin-left: 5px;
}

.row {
    margin-bottom: 10px !important;
}

.btn-xt {
    border: 1px solid #EC407A;
    color: #EC407A;
    background: transparent;
}

.btn-xt:hover {
    background-color: #EA4177;
    color: #F0F0F0;
}

.btn-xg {
    border: 1px solid #53B54B;
    color: #53B54B;
    background: transparent;
}

.btn-xg:hover {
    background-color: #53B54B;
    color: #F0F0F0;
}

.btn-action {
    background-color: #EA4177;
    color: #F0F0F0;
}

.btn-action:hover {
    border: 1px solid #EC407A;
    color: #EC407A;
    background: transparent;
}

.container_2 {
    margin: 0 auto;
    margin-top: 2px;
    max-width: 1280px;
    width: 100% !important;
}

.container_5 {
    margin: 0 auto;
    margin-top: 0px;
    max-width: 1280px;
    width: 80% !important;
}

.person-info {
    padding: 30px;
    padding-top: 0;
}

.acctab a :active {
    font-weight: bold;
    color: #EA4177;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 3px !important;
    border: 1px solid green;
}

/* .tabs .tab a:hover, .tabs .tab a.active{
    border-bottom: 1px solid rgba(238, 110, 115, .4) !important;
} */

.person-info h5 {
    border-bottom: 1px solid #eeeeee;
    color: #727272;
    font-size: 15px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.person-info p {
    /* border-bottom: 1px solid #eeeeee; */
    color: #727272;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.person-info h5 span {
    vertical-align: super;
}

.coupon {
    color: rgb(28, 236, 28);
}

.about-subtitle {
    /* font-size: 24px; */
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #EA4177;
}

.page-footer {
    background: #EA4177 !important;
    color: #727272 !important;
    padding-top: 0px !important;
}

.page-footer .foothead {
    padding-top: 5px;
    min-height: 120px;
    background: #F4F4F4;
    margin-top: 50px;
}

.carousel {
    height: 400px !important;
}

.carousel.carousel-slider .carousel-fixed-item {
    bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1));
}

.carousel-fixed-item h4 {
    padding-left: 30px;
    text-transform: capitalize;
}

.tabs .indicator {
    background-color: transparent;
}

.carousel .carousel-item {
    height: auto;
}

.fb-button {
    padding: 20px;
    margin-right: 10px;
}

.g-img {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
    margin-top: -10px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    font-size: 40px;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating label input:checked~.icon,
input~.icon {
    color: #FFCA00;
    background: none !important;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #FFCA00;
}

.feedback-img {
    width: 100px;
    border-radius: 10px;
}

.feedback-already {
    font-size: 12px;
    padding: 0;
    color: #22b345;
    font-weight: 400;
    display: flex;
    margin-top: -4px;
}

.feedback {
    color: #727272;
}

.feedback-block {
    margin-top: 15px;
    border-bottom: 1px solid #eeeeee;
}

.feedback-already i {
    line-height: 0.8;
    padding-right: 7px;
    font-size: 20px;
}

.feedback-name {
    font-size: 14px;
    margin: 7px 0 5px;
    font-weight: 500;
    text-transform: capitalize;
}

.feedback-date {
    font-size: 12px;
    color: #999;
    margin: -2px 0 0;
    text-align: center;
}

.shop_name {
    color: #4A5459 !important;
    font-size: 20px !important;
    height: 60px;
    line-height: 30px !important;
    overflow: hidden;
}

.shop_name_3 {
    color: #EA4177 !important;
    font-size: 25px !important;
    text-align: center;
}

.shop_name_2 {
    color: rgba(74, 84, 89, .6) !important;
    font-size: 16px !important;
    line-height: 20px;
}

.shop_name_3 {
    color: rgba(74, 84, 89, .6) !important;
    font-size: 16px !important;
    text-align: left;
}

.coupon_price {
    font-size: 1.4rem;
}

.like_button {
    height: 50px;
    position: absolute;
    bottom: 3px;
    width: 99%;
    /* background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1)); */
}

.btn-other {
    position: relative;
    margin-top: -70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    min-width: 150px;
}

.info_code {
    color: #68D44D !important;
    font-size: 15px !important;
    height: 60px;
    line-height: 20px !important;
}

blockquote {
    margin: 15px 0 !important;
}

.like-pro {
    margin-right: 20px;
    /* margin-top: 15px; */
    background: rgba(236, 64, 122, .9) !important;
    /* background: #4267B2; */
}

.info_tab {
    position: relative;
    top: 0;
    /* border-top: .5px solid rgba(236, 64, 122, .3); */
    border-bottom: .5px solid rgba(236, 64, 122, .3);
}

.like-pro:hover {
    background: rgb(87, 130, 216);
}

.like-pro:focus {
    background: rgb(87, 130, 216);
}

.span_account {
    margin-left: 20px;
    font-size: 17px;
}

.modal-edit {
    width: 100% !important;
}

.modal-edit .modal-content {
    padding: 5px;
    height: 380px;
}

.picker--opened .picker__frame {
    top: 4% !important;
}

.alert {
    margin-top: 0;
    box-shadow: none;
    color: #8a6d3b;
    background-color: #fcf8e3;
    text-align: center;
}

.alert span {
    color: #EC407A !important;
    font-size: 20px !important;
}

.alert h4 {
    color: #EC407A !important;
}

._i {
    color: #EC407A;
}

.slider .indicators {
    bottom: 50px !important;
    z-index: 2;
}

.slider .indicators .indicator-item.active {
    background-color: #EC407A !important;
}

.slider .slides li .caption {
    text-transform: uppercase !important;
    background: rgba(0, 0, 0, 0.4);
}

.slider .slides li img {
    background-position: unset !important;
    background-repeat: no-repeat;
}

.lgbuton {
    background: #EC407A !important;
    box-shadow: none !important;
    color: #fff !important;
    border-radius: 5px !important;
    font-size: 17px !important;
    border: 1px solid !important;
}

.progress {
    background-color: #F6A0BD !important;
    height: 2px !important;
    margin: 2px !important;
}

.progress .indeterminate {
    background-color: #EC407A !important;
}

.facecss {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: #4267B2;
    border: 1px solid #4267B2;
    color: #fff;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.facecss:hover {
    background-color: transparent;
    color: #4267B2;
}

.ggcss {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: #DF4A32;
    border: 1px solid #DF4A32;
    color: #fff;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.ggcss:hover {
    background-color: transparent;
    color: #DF4A32;
}

.ttcss {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: #00ACED;
    border: 1px solid #00ACED;
    color: #fff;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.ttcss:hover {
    background-color: transparent;
    color: #00ACED;
}

.tabs .tab a {
    color: gray !important;
}

.gift {
    font-size: 1.3rem !important;
    margin-top: 0.93rem !important;
    color: rgba(14, 189, 92, 0.719) !important;
    font-weight: 900 !important;
}

.hdsd {
    font-size: 1.3rem !important;
    margin-top: 0.93rem !important;
    color: rgba(234, 65, 119, 0.719) !important;
    font-weight: 900 !important;
}

.vip {
    margin-top: 3px !important;
}

.nvip {
    margin-top: 16px !important;
}

.pro-img {
    height: 350px;
}

@media only screen and (min-width: 601px) {
    .container_2 {
        width: 85% !important;
    }
}

@media only screen and (min-width: 993px) {
    .container_2 {
        width: 85% !important;
    }
}

@media only screen and (max-width: 48em) {

    /*************** ADD MOBILE ONLY CSS HERE  ***************/
    .row .col.s6 {
        width: 50% !important;
    }

    .carousel {
        height: 175px !important;
    }

    .carousel-fixed-item h5 {
        margin-left: 5px !important;
    }

    /* .like-pro {
        margin-top: 0px !important;
        margin-right: 5px !important;
	} */
    .fbspan>span:before,
    .fbspan>span:after {
        width: 110px !important
    }

    .ttcss {
        margin-top: 20px;
        display: -webkit-inline-box;
    }

    .pro-img {
        height: 200px;
    }

    .pro-info {
        margin-top: 50px;
        padding: 0 !important;
    }

    .person-info {
        padding: 0px;
    }
}