<div class="container_4" style="margin-bottom: 0">
    <div class="row" style="margin-bottom: 0px !important">
        <nav class="brum">
            <div class="nav-wrapper">
                <div class="col s10 push-s1">
                    <a href="/" class="breadcrumb">Trang Chủ</a>
                    <a href="" class="breadcrumb">Liên Hệ</a>
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="container_5" style="margin-bottom: 0">
    <div class="row card-panel" style="margin-top: 0; box-shadow: none; padding-left: 0; padding-right: 0">
		<blockquote>
			<h5>Liên Hệ Quảng Cáo</h5>
		</blockquote>
			<p>
			Dành cho cá nhân, doanh nghiệp muốn hợp tác quảng cáo
			Cảm ơn bạn vì đã có thiện chí hợp tác với Coupon10k. Nếu bạn muốn quảng cáo các sản phẩm, dịch vụ của mình trên Coupon10k.com vui lòng liên hệ với bộ phận kinh doanh của chúng tôi.
			Hợp tác kinh doanh liên hệ:
		</p>
		<h5>Nguyễn Trung Kiên</h5>
		<a class="green-text" href="tel:02835443253">(028) 35443253</a> <br/>
		<a class="green-text" href="mailto:kiennt.gm@gmail.com">kiennt.gm@gmail.com</a>
	</div>
</div>