<div ng-include='"templates/slider.html"'></div>

<div class="container_2">

    <div class="row" id="thanthiet" ng-show="kind_result_0.length > 0">

        <!-- detail product -->
        <div class="col s12 m12 l12">
            <blockquote>
                <h5 style="display: unset;">Coupon Cho Khách Hàng Thân Thiết</h5>
                <a class="right" href="" ng-click="detail_kind_0()">
                    <h6 style="font-size: 1.1rem; font-weight: 300">Xem tất cả</h6>
                </a>
            </blockquote>

            <div class="row">
                <div class="col s6 m4 cl3" ng-repeat="content in kind_result_0 | limitTo : 15">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="price" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">
                                <span ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true)">{{content.shop_coupon[0].coupon[0].value}}</span>
                                <span ng-if="content.server_coupon.length > 0">{{content.server_coupon[0].coupon[0].value}}</span>
                                VNĐ
                            </div>
                            <img class="activator" src="{{content.shop_info[0].shop_avatar}}" ng-click="go_shop_by_id(content._id)">
                        </div>
                        <div class="card-content center">
                            <span class="card-title activator shop_name"> {{content.shop_info[0].shop_name}}</span>
                            <p>
                                <a href="" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Còn
                                    {{content.shop_coupon[0].coupon.length + content.server_coupon[0].coupon.length}}
                                    Coupon</a>
                                <a href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Comming
                                    soon</a>
                            </p>
                            <a class="waves-effect waves-light btn btn-coupon" ng-click="go_shop_by_id(content._id)"
                                ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Nhận
                                Coupon</a>
                            <a class="waves-effect waves-light btn btn-coupon disabled" style="background-color: #F0F0F0 !important;"
                                href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Nhận
                                Coupon</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end detail product -->

    </div>

    <div class="row" id="muasam">
		<!-- <a class="waves-effect waves-light btn" ng-click="testFCM()">Thông báo là trưa nay không ăn cơm đâu nhé !</a> -->
        <!-- detail product -->
        <div class="col s12 m12 l12">
            <blockquote>
                <h5 style="display: unset;">Mua Sắm</h5>
                <a class="right" href="" ng-click="detail_kind_1()">
                    <h6 style="font-size: 1.1rem; font-weight: 300">Xem tất cả</h6>
                </a>
            </blockquote>

            <div class="row">

                <div class="col s6 m4 cl3" ng-repeat="content in kind_result_1 | limitTo : 15">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="price" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">
                                <span ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true)">{{content.shop_coupon[0].coupon[0].value}}</span>
                                <span ng-if="content.server_coupon.length > 0">{{content.server_coupon[0].coupon[0].value}}</span>
                                VNĐ
                            </div>
                            <img class="activator" src="{{content.shop_info[0].shop_avatar}}" ng-click="go_shop_by_id(content._id)">
                        </div>
                        <div class="card-content center">
                            <span class="card-title activator shop_name"> {{content.shop_info[0].shop_name}}</span>
                            <p>
                                <a href="" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Còn
                                    {{content.shop_coupon[0].coupon.length + content.server_coupon[0].coupon.length}}
                                    Coupon</a>
                                <a href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Comming
                                    soon</a>
                            </p>
                            <a class="waves-effect waves-light btn btn-coupon" ng-click="go_shop_by_id(content._id)"
                                ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Nhận
                                Coupon</a>
                            <a class="waves-effect waves-light btn btn-coupon disabled" style="background-color: #F0F0F0 !important;"
                                href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Nhận
                                Coupon</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- end detail product -->

    </div>

    <div class="row" id="anuong">

        <!-- detail product -->
        <div class="col s12 m12 l12">
            <blockquote>
                <h5 style="display: unset;">Ăn Uống</h5>
                <a class="right" href="" ng-click="detail_kind_2()">
                    <h6 style="font-size: 1.1rem; font-weight: 300">Xem tất cả</h6>
                </a>
            </blockquote>

            <div class="row">
                <div class="col s6 m4 cl3" ng-repeat="content in kind_result_2 | limitTo : 15">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="price" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">
                                <span ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true)">{{content.shop_coupon[0].coupon[0].value}}</span>
                                <span ng-if="content.server_coupon.length > 0">{{content.server_coupon[0].coupon[0].value}}</span>
                                VNĐ
                            </div>
                            <img class="activator" src="{{content.shop_info[0].shop_avatar}}" ng-click="go_shop_by_id(content._id)">
                        </div>
                        <div class="card-content center">
                            <span class="card-title activator grey-text text-darken-4 shop_name">{{content.shop_info[0].shop_name}}</span>
                            <p>
                                <a href="" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Còn
                                    {{content.shop_coupon[0].coupon.length + content.server_coupon[0].coupon.length}}
                                    Coupon</a>
                                <a href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Comming
                                    soon</a>
                            </p>
                            <a class="waves-effect waves-light btn btn-coupon" ng-click="go_shop_by_id(content._id)"
                                ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Nhận
                                Coupon</a>
                            <a class="waves-effect waves-light btn btn-coupon disabled" style="background-color: #F0F0F0 !important;"
                                href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Nhận
                                Coupon</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end detail product -->

    </div>

    <div class="row" id="dulich" ng-if="kind_result_3.length > 0">

        <!-- detail product -->
        <div class="col s12 m12 l12">
            <blockquote>
                <h5 style="display: unset;">Du Lịch</h5>
                <a class="right" href="" ng-click="detail_kind_3()">
                    <h6 style="font-size: 1.1rem; font-weight: 300">Xem tất cả</h6>
                </a>
            </blockquote>
            <div class="row">

                <div class="col s6 m4 cl3" ng-repeat="content in kind_result_3 | limitTo : 15">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="price" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">
                                <span ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true)">{{content.shop_coupon[0].coupon[0].value}}</span>
                                <span ng-if="content.server_coupon.length > 0">{{content.server_coupon[0].coupon[0].value}}</span>
                                VNĐ
                            </div>
                            <img class="activator" src="{{content.shop_info[0].shop_avatar}}" ng-click="go_shop_by_id(content._id)">
                        </div>
                        <div class="card-content center">
                            <span class="card-title activator grey-text text-darken-4 shop_name">{{content.shop_info[0].shop_name}}</span>
                            <p>
                                <a href="" ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Còn
                                    {{content.shop_coupon[0].coupon.length + content.server_coupon[0].coupon.length}}
                                    Coupon</a>
                                <a href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Comming
                                    soon</a>
                            </p>
                            <a class="waves-effect waves-light btn btn-coupon" ng-click="go_shop_by_id(content._id)"
                                ng-if="(content.shop_coupon.length > 0 && content.shop_coupon[0].approved === true) || content.server_coupon.length > 0">Nhận
                                Coupon</a>
                            <a class="waves-effect waves-light btn btn-coupon disabled" style="background-color: #F0F0F0 !important;"
                                href="" ng-if="(content.shop_coupon.length === 0 || content.shop_coupon[0].approved !== true) && content.server_coupon.length === 0">Nhận
                                Coupon</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end detail product -->

    </div>

    <div class="row" id="basic">
        <div class="col s12 m12 l12">
            <blockquote>
                <h5 style="display: unset;">Mã Giảm Giá Phổ Thông</h5>
                <!-- <a class="right" href="" ng-click="go_detail_basic()">
                    <h6 style="font-size: 1.1rem; font-weight: 300">Xem tất cả</h6>
                </a> -->
            </blockquote>

            <div class="row">

                <div class="col s6 m4 l3" ng-repeat="content in emarketResult | limitTo : 12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{content.Eimg}}" ng-click="go_detail_basic(content._id)">
                        </div>
                        <div class="card-content center">
                            <p class="info_code">
                                Mã giảm giá, cập nhật hàng ngày
                            </p>
                            <a class="waves-effect waves-light btn btn-coupon"
                                ng-click="go_detail_basic(content._id)">Lấy Mã</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="mymodal" class="modal modal_2">
    <div class="modal-content">
        <h5>NHẬN MÃ GIẢM GIÁ</h5>
        <p>Copy mã giảm giá phía dưới, sau đó nhập mã trước khi thanh toán để nhận ưu đãi giảm giá. Xin đọc kỹ quy định
            sử dụng.</p>
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" type="text" ng-model="detail_basic.code_coupon" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn btn-coupon modal-close" type="submit" name="action" style="right: 35px; position: absolute;"
                    ng-click="go_ma_giam_gia(detail_basic.shopUrl)">Đồng Ý
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var options = [
            {
                selector: '#thanthiet', offset: 30, callback: function (el) {
                    Materialize.fadeInImage($(el));
                }
            },
            {
                selector: '#muasam', offset: 30, callback: function (el) {
                    Materialize.fadeInImage($(el));
                }
            },
            {
                selector: '#anuong', offset: 30, callback: function (el) {
                    Materialize.fadeInImage($(el));
                }
            },
            {
                selector: '#dulich', offset: 30, callback: function (el) {
                    Materialize.fadeInImage($(el));
                }
            },
            {
                selector: '#basic', offset: 30, callback: function (el) {
                    Materialize.fadeInImage($(el));
                }
            }
        ];
        Materialize.scrollFire(options);

        $('.modal').modal({
            dismissible: false,
            opacity: .7
        });

        $('.tooltipped').tooltip({ position: 'top' });
		
    })
</script>