<div class="container_4" style="margin-bottom: 0">
    <div class="row" style="margin-bottom: 0px !important">
        <nav class="brum">
            <div class="nav-wrapper">
                <div class="col s10 push-s1">
                    <a href="/" class="breadcrumb">Trang Chủ</a>
                    <a href="{{danh_muc}}/danh-sach-cua-hang" class="breadcrumb">{{shop.shop_info[0].kind[0].name}}</a>
                    <a href="" class="breadcrumb">Cửa hàng {{shop.shop_info[0].shop_name}}</a>
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="container_5" ng-show="load_page" style="margin-bottom: 0">
    <div class="row card-panel" style="margin-top: 0; box-shadow: none; padding-left: 0; padding-right: 0">
		
        <div class="col s12 m8 l8">
           <div class="row">
			   <div class="col s12 m12 l12 pro-img waves-effect waves-block waves-light z-depth-3" style="background:url('{{shop.shop_info[0].shop_cover}}'); background-size: cover;">
					 <div class="like_button">
						<!-- <a class="waves-effect waves-light right btn like-pro pulse"> </a> -->
						<div ng-if="!condition && auth">
							<button class="btn waves-effect waves-light like-pro right modal-trigger" data-target="like" ng-if="show_like"
							ng-click="open_like()">Like
								<i class="material-icons right">thumb_up</i>
							</button>
						</div>
						
						<div ng-if="condition">
							<button class="btn waves-effect waves-light like-pro right disabled">Like
								<i class="material-icons right">thumb_up</i>
							</button>
						</div>
					</div>
			   </div>
			   
			   <div class="col s12 m12 s12" style="padding: 0px">
            
					<div class="person-info" style="padding: 0; margin: 0">
						<h5 style="border: none !important">
							Chia sẻ: 
							<a socialshare socialshare-provider="facebook" class="facecss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị"
							socialshare-hashtags="coupon10k, coupon10k.com" socialshare-media="{{shop.shop_info[0].shop_cover}}" socialshare-url="{{_href}}">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								
							</a>
							<a socialshare socialshare-provider="google" class="ggcss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị"
							socialshare-hashtags="coupon10k, coupon10k.com" socialshare-url="{{_href}}">
								<i class="fa fa-google-plus" aria-hidden="true"></i>
								
							</a>
							<a socialshare socialshare-provider="twitter" class="ttcss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị"
							socialshare-hashtags="coupon10k, coupon10k.com" socialshare-url="{{_href}}">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								
							</a></h5>
					</div>
					
				</div>
			   
		   </div>
		</div>
		
        <div class="col s12 m4 l4 pro-info">
            <!-- <div id="thongtin" class="col s12"> -->
            <div class="person-info" style="padding-bottom: 0">
                <h5 class="white-text shop_name_3" style="margin-top: 0px; text-transform: uppercase; font-weight: 600;">{{shop.shop_info[0].shop_name}}
				</h5>
                <h5 class="grey-text">
                    <!-- <i class="material-icons">extension</i> -->
                    <span>{{shop.shop_info[0].service}}</span>
				</h5>
                <h5 class="grey-text">
                    <i class="material-icons">location_on</i>
                   <a class="grey-text" target="_blank" href="http://maps.google.com/?q={{shop.shop_info[0].address}}"> <span>{{shop.shop_info[0].address}}</span> </a>
				</h5>
                <h5 class="grey-text">
                    <i class="material-icons">access_time</i>
                    <span>{{shop.shop_info[0].time}}</span>
				</h5>
                <h5 class="green-text">
                    <!-- <i class="material-icons">account_balance_wallet</i> -->
                    <span>Còn {{total_coupon}} Coupon</span>
				</h5>
                <h5 class="pink-text" ng-if="show_like">
                    <!-- <i class="material-icons">new_releases</i> -->
                    <span>Thích trang để nhận Coupon</span>
				</h5>
                <h5 class="red-text" ng-if="condition" style="border-bottom: none">
                    <!-- <i class="material-icons">block</i> -->
                    <span>Bạn chưa đủ điều kiện nhận Coupon</span>
                    <div ng-if="total_coupon === 0">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Hiện tại Shop không phát hành Coupon.</span>
					</div>
					
                    <div ng-if="_get">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Bạn đã nhận Coupon này rồi.</span>
					</div>
                    <div ng-if="feedback_count > 0">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Bạn chưa thực hiện Feedback
						({{feedback_count}}).</span>
					</div>
                    <div ng-if="auth[0].empty_slot === 0">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Bạn đã hết slot.</span>
					</div>
					<div ng-if="Thepoint">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Bạn không đủ điểm để lấy coupon.</span>
					</div>
                    <div ng-if="loyal">
                        <br>
                        <span class="grey-text language-markup" style="padding-left: 27px">- Bạn chưa phải khách hàng thân thiết.</span>
					</div>
                    <div ng-if="_rank">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Yêu cầu thành viên {{rank_user.name}} trở
						lên để nhận coupon này.</span>
					</div>
					<div ng-if="auth[0].role[0].id !== 0">
                        <br>
                        <span class="grey-text" style="padding-left: 27px">- Chủ Shop và Quản Lý sẽ không được nhận Coupon.</span>
					</div>
					
				</h5>
                <div id="af2" ng-if="!condition" style="display:none">
                    <h5 ng-if="!show_like && auth[0].role[0].id === 0" style="border-bottom: none">
                        <center ng-show="value_point > 0">
                            <a class="waves-effect waves-light btn btn-coupon btn-large modal-trigger" data-target="comfirm" style="display:block">Nhận Coupon</a>
						</center>
						<center ng-show="value_point === 0">
                            <a class="waves-effect waves-light btn btn-coupon btn-large" ng-disabled="isDisabled" ng-click="get_coupon()" style="display:block">Nhận Coupon</a>
						</center>
					</h5>
                    <h5 ng-if="show_like" style="border-bottom: none">
                        <center>
                            <a class="waves-effect waves-light btn btn-large disabled" style="background:#EC407A; color:#fff; display: block">Nhận
							Coupon</a>
						</center>
					</h5>
				</div>
			</div>
            <!-- </div> -->
		</div>
		
        <!-- <div class="col s12 m12 s12" style="padding: 0px"> -->
            
            <!-- <div class="person-info" style="padding: 0; margin: 0"> -->
                <!-- <h5 style="border: none !important"> -->
                    <!-- Chia sẻ:  -->
                    <!-- <a socialshare socialshare-provider="facebook" class="facecss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị" -->
					<!-- socialshare-hashtags="coupon10k, coupon10k.com" socialshare-media="{{shop.shop_info[0].shop_cover}}" socialshare-url="{{_href}}"> -->
                        <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
                        
					<!-- </a> -->
                    <!-- <a socialshare socialshare-provider="google" class="ggcss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị" -->
					<!-- socialshare-hashtags="coupon10k, coupon10k.com" socialshare-url="{{_href}}"> -->
                        <!-- <i class="fa fa-google-plus" aria-hidden="true"></i> -->
                        
					<!-- </a> -->
                    <!-- <a socialshare socialshare-provider="twitter" class="ttcss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị" -->
					<!-- socialshare-hashtags="coupon10k, coupon10k.com" socialshare-url="{{_href}}"> -->
                        <!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
                        
					<!-- </a></h5> -->
			<!-- </div> -->
			
		<!-- </div> -->
		
        <div class="col s12">
            <blockquote>
                <h5 style="display: unset;">Cửa Hàng</h5>
			</blockquote>
            <ul class="tabs">
                <li class="tab col s2">
                    <a class="active" style="text-align: center;" href="#dieukien">Điều kiện áp dụng</a>
				</li>
                <li class="tab col s2">
                    <a href="#info" style="text-align: center;">Giới thiệu</a>
				</li>
				<li class="tab col s2">
                    <a href="#map" style="text-align: center;">Địa chỉ cửa hàng</a>
				</li>
			</ul>
		</div>
		
        <div class="row">
            <div id="dieukien" class="col s12 m8 l8">
                <div class="person-info" style="padding: 0">
                    <h5>
                        <div ng-if="total_coupon > 0">
                            <!-- <i class="material-icons">chevron_right</i> -->
                            <span ng-bind-html="coupon_info | unsafe"></span>
						</div>
                        <div class="grey-text" ng-if="total_coupon === 0">
                            <i class="material-icons">chevron_right</i>
                            <span>Đang cập nhật.</span>
						</div>
					</h5>
                    <h5 class="grey-text">
                        <div ng-if="total_coupon > 0">
                            <i class="material-icons">chevron_right</i>
                            <span ng-if="rank_user.id === 4">Coupon này dành cho mọi thành viên</span>
                            <span ng-if="rank_user.id === 3">Coupon này dành cho thành viên hạng Bạc trở lên ( trên
							1000 điểm)</span>
                            <span ng-if="rank_user.id === 2">Coupon này dành cho thành viên hạng Vàng trở lên ( trên
							1500 điểm)</span>
                            <span ng-if="rank_user.id === 1">Coupon này dành cho thành viên hạng Bạch Kim trở lên (
							trên 2000 điểm)</span>
						</div>
                        <div class="grey-text" ng-if="total_coupon === 0">
                            <i class="material-icons">chevron_right</i>
                            <span>Đang cập nhật.</span>
						</div>
					</h5>
                    <h5 class="grey-text">
                        <div ng-if="total_coupon > 0">
                            <i class="material-icons">chevron_right</i>
                            <span>Hạn sử dụng: {{coupon_expire}} Tháng</span>
						</div>
                        <div class="grey-text" ng-if="total_coupon === 0">
                            <i class="material-icons">chevron_right</i>
                            <span>Đang cập nhật.</span>
						</div>
					</h5>
					<!-- <h5 class="grey-text"> -->
                        <!-- <div ng-if="!Thepoint"> -->
                            <!-- <i class="material-icons">chevron_right</i> -->
                            <!-- <span>Điểm quy đổi để nhận coupon là: {{value_point}} Điểm</span> -->
						<!-- </div> -->
                        <!-- <div ng-if="Thepoint"> -->
                            <!-- <i class="material-icons">chevron_right</i> -->
                            <!-- <span>Coupon không yêu cầu đổi điểm.</span> -->
						<!-- </div> -->
					<!-- </h5> -->
                    <h5>
                        <div ng-if="total_coupon > 0">
                            <i class="material-icons grey-text">chevron_right</i>
                            <span class="grey-text" ng-if="o_coupon.rfeedback[0].id === 1">
                                Yêu cầu Feedback sau khi sử dụng dịch vụ (thực hiện trong app).
							</span>
                            <span class="grey-text" ng-if="o_coupon.rfeedback[0].id === 2">
                                Coupon này không yêu cầu Feedback sau khi sử dụng.
							</span>
						</div>
                        <div class="grey-text" ng-if="total_coupon === 0">
                            <i class="material-icons">chevron_right</i>
                            <span>Đang cập nhật.</span>
						</div>
					</h5>
				</div>
			</div>
			
            <div id="info" class="col s12 m8 l8">
                <div class="person-info" style="padding: 0; min-height: 199px">
                    <p ng-bind-html="shop.shop_info[0].info | unsafe" style="margin-top: 10px"></p>
				</div>
			</div>
			
			<div id="map" class="col s12 m12 l12">
                <div class="person-info" style="padding: 0; min-height: 199px">
				<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="400px" id="gmap_canvas" src="{{shopAddress}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:400px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div>
				</div>
			</div>
		</div>
		
        <div class="col s12">
            <blockquote>
                <h5 style="display: unset;">Album Hình</h5>
			</blockquote>
            <div class="col s6 m6 l3" ng-repeat="content in shop.shop_info[0].shop_album">
                <img src="{{content.url}}" class="responsive-img materialboxed g-img" alt="">
			</div>
		</div>
		
        <div class="col s12">
            <blockquote>
                <h5 style="display: unset;">Đánh Giá Dịch Vụ ({{all_feed.length}})</h5>
			</blockquote>
            <!-- <div class="col s12"> -->		

				<div class="feedback-block" ng-repeat="content in all_feed | limitTo: itemsLimit()" ng-if="all_feed.length > 0">
					<div class="row">
						<div class="col s12 m6 l2 center">
							<img src="{{content.coupon.userid_get_coupon[0].img}}" class="feedback-img z-depth-3">
							<div class="feedback-name"><a href="">{{content.coupon.userid_get_coupon[0].name}}</a></div>
							<div class="feedback-date">{{content.coupon.time_user_use}}</div>
						</div>
						<div class="col s12 m6 l10">
							<div class="review-block-rate">
								<div ng-include='"templates/rating.html"'></div>
								<p class="feedback-already"> <i class="material-icons">security</i> Xác nhận đã sử dụng dịch vụ của shop <b style="margin-left: 3px; text-transform: uppercase;">{{shop.shop_info[0].shop_name}}</b></p>
							</div>
							<div class="feedback">{{content.coupon.feedback}}</div>
						</div>
					</div>
				</div>
				
					<center style="margin-bottom: 50px; margin-top:30px">
						<div>
							<a class="waves-effect waves-light btn btn-xt pulse" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()">Xem
								Thêm</a>
						</div>
					</center>
				
				

				
                <!-- <div class="person-info" style="padding: 0"> -->
                    <!-- <h5 ng-repeat="content in all_feed" ng-if="all_feed.length > 0"> -->
                        <!-- <div class="chip"> -->
                            <!-- <img src="{{content.coupon.userid_get_coupon[0].img}}"> -->
                            <!-- {{content.coupon.userid_get_coupon[0].name}} -->
						<!-- </div> -->
                        <!-- <div ng-include='"templates/rating.html"'></div> -->
                        <!-- <span>{{content.coupon.feedback}}</span> -->
					<!-- </h5> -->
                    <!-- <h5 ng-if="all_feed.length === 0" style="border: none">Chưa có đánh giá nào về dịch vụ của cửa -->
					<!-- hàng.</h5> -->
				<!-- </div> -->
			</div>
			
		<!-- </div> -->
	</div>
</div>

<!-- Modal Structure -->
<div id="like" class="modal">
    <div class="modal-content" style="padding-bottom: 0; padding-top: 10px;">
        <center>
            <div ng-if="!load_fa">
                <h4 class="flow-text center">Đang cập nhật dữ liệu</h4>
                <div class="progress">
                    <div class="indeterminate"></div>
				</div>
			</div>
			
            <div class="fb-page" data-href="https://www.facebook.com/{{shop.shopId}}" data-adapt-container-width="false"
			data-width="510"></div>
			
            <div ng-if="load_fa">
                <div class="person-info" style="padding: 0; text-align: left">
                    <h5>
                        <i class="material-icons blue-text">chevron_right</i>
                        <span>Nếu Bạn đã like page này trước đây (không phải trên website của chúng tôi) vui lòng
                            Unlike
                            <a target="blank" href="https://www.facebook.com/{{shop.shopId}}">tại đây</a> sau đó quay
						lại và bấm reload trang để thực hiện like page. </span>
					</h5>
                    <h5>
                        <i class="material-icons blue-text">chevron_right</i>
                        <span>Nếu gặp lỗi
                            <strong class="blue-text">Like page không thành công</strong>, bạn vui lòng Unlike trang
                            <a target="blank" href="https://www.facebook.com/{{shop.shopId}}">tại đây</a> sau đó đăng
						nhập lại và thực hiện lại.</span>
					</h5>
				</div>
			</div>
		</center>
	</div>
    <div class="modal-footer">
		<button class="btn waves-effect waves-light btn-default modal-action modal-close"
		onClick="reloadPage()">Reload</button>
		
        <button class="btn waves-effect waves-light btn-xt modal-action modal-close"
		ng-click="close_like()">Xong</button>
	</div>
</div>

<!-- Modal Structure -->
<div id="comfirm" class="modal">
    <div class="modal-content" style="padding-bottom: 0; padding-top: 10px;">
        <center>
            <div>
                <div class="person-info" style="padding: 0; text-align: left">
                    <h5>
                        <i class="material-icons blue-text">chevron_right</i>
                        <span>Coupon yêu cầu điểm quy đổi là {{value_point}}.</span>
					</h5>
					<h5>
                        <i class="material-icons blue-text">chevron_right</i>
                        <span>Bạn sẽ bị trừ {{value_point}} điểm trong tổng số điểm hiện có.</span>
					</h5>
					<h5>
                        <i class="material-icons blue-text">chevron_right</i>
                        <span>Bạn có chắn chắn muốn nhận Coupon này không ?</span>
					</h5>
				</div>
			</div>
		</center>
	</div>
    <div class="modal-footer">
		<button class="btn waves-effect waves-light btn-xt modal-action modal-close"
		>Hủy</button>
        <button class="btn waves-effect waves-light btn-xt modal-action modal-close"
		ng-click="get_coupon()">Đồng Ý</button>
	</div>
</div>

<script>
    $(document).ready(function () {
        $('ul.tabs').tabs({});
        $('.materialboxed').materialbox();
        $('.modal').modal({
            dismissible: false
		});
        setTimeout(function () {
            $('.materialboxed').materialbox();
		}, 500);
        setTimeout(function () { $("#af2").show() }, 2000);
	});
	
	function reloadPage(){
		location.reload(true);
	}
</script>