<div class="container_4" style="margin-bottom: 0">
    <div class="row" style="margin-bottom: 0px !important">
        <nav class="brum">
            <div class="nav-wrapper">
                <div class="col s10 push-s1">
                    <a href="/" class="breadcrumb">Trang Chủ</a>
                    <a href="" class="breadcrumb">Hướng Dẫn Sử Dụng</a>
				</div>
			</div>
		</nav>
	</div>
</div>

<!-- <div class="container_5"  style="margin-bottom: 0"> -->
	<div class="row" id="bodybox">
		<div class="col s12 m9 l10">
		  <div id="action" class="section scrollspy">
			<div class="col s12">
				<blockquote>
				  <h5>Thực Hiện Tác Vụ </h5>
				</blockquote>
			</div>
			
			<div class="row">
			<div class="col s12 m7 l7">
			   <div class="col s12 m12 l12 pro-img z-depth-1" style="padding: 0px">
					<video width="100%" height="100%" controls>
					  <source src="img/2.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
			   </div>
		   </div>
		   
			   <div class="col s12 m5 l5 pro-info">
					<div class="person-info" style="padding-bottom: 0">
						<h5 class="grey-text">
						   <i class="material-icons">chevron_right</i>
							<span>Đăng nhập website bằng tài khoản facebook</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Truy cập trang thực hiện tác vụ từ Menu</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Hệ thống sẽ trả về số tác vụ tương ứng với số điểm còn có thể kiếm được trong ngày.</span>
						</h5>
						<h5 class="green-text">
							<i class="material-icons">device_hub</i>
							<span>Những trường hợp khi bạn nhận tác vụ</span>
							<div>
								<span class="grey-text" style="padding-left: 27px">- Nếu đã kiếm đủ điểm trong ngày bạn sẽ không nhận được tác vụ từ hệ thống.</span>
							</div>
							
							<div>
								<span class="grey-text" style="padding-left: 27px">- Khi nhận tác vụ bạn có thể làm hoặc bỏ qua hệ thống sẽ đưa tác vụ khác trong lần thực hiện tiếp theo.</span>
							</div>		
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Sau khi thực hiện tác vụ bạn sẽ nhận được điểm tương ứng với số tác vụ hoàn thành.</span>
						</h5>
					</div>
				</div>
			</div>
		  </div>

		  <div id="getcoupon" class="section scrollspy">
			<div class="col s12">
				<blockquote>
				  <h5>Thực hiện lấy Coupon</h5>
				</blockquote>
			</div>
			
			<div class="row">
			<div class="col s12 m7 l7">
			   <div class="col s12 m12 l12 pro-img z-depth-1" style="padding: 0px">
					<video width="100%" height="100%" controls>
					  <source src="img/2.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
			   </div>
		   </div>
		   
			   <div class="col s12 m5 l5 pro-info">
					<div class="person-info" style="padding-bottom: 0">
						<h5 class="grey-text">
						   <i class="material-icons">chevron_right</i>
							<span>Đăng nhập Website bằng tài khoản facebook</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Chọn Shop muốn nhận Coupon</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Nếu đủ điều kiện bạn sẽ nhận được Coupon, nếu không đủ điều kiện sẽ có thông báo chi tiết trong Shop</span>
						</h5>
						<h5 class="green-text">
							<i class="material-icons">device_hub</i>
							<span>Những trường hợp trong khi nhận Coupon</span>
							<div>
								<span class="grey-text" style="padding-left: 27px">- Coupon không yêu cầu điểm thì bạn có thể nhận bình thường.</span>
							</div>
							
							<div>
								<span class="grey-text" style="padding-left: 27px">- Coupon có yêu cầu điểm thì bạn sẽ nhận được thông báo và sẽ phải xác nhận mới có thể lấy Coupon</span>
							</div>		
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Sau khi nhận Coupon, bạn sẽ vào ứng dụng Coupon10k để sử dụng.</span>
						</h5>
					</div>
				</div>
			</div>
		  </div>
		  
		  <div id="usecoupon" class="section scrollspy">
			<div class="col s12">
				<blockquote>
				  <h5>User Sử Dụng Coupon</h5>
				</blockquote>
			</div>
			
			<div class="row">
			<div class="col s12 m7 l7">
			   <div class="col s12 m12 l12 pro-img z-depth-1" style="padding: 0px">
					<video width="100%" height="100%" controls>
					  <source src="img/2.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
			   </div>
		   </div>
		   
			    <div class="col s12 m5 l5 pro-info">
					<div class="person-info" style="padding-bottom: 0">
						<h5 class="grey-text">
						   <i class="material-icons">chevron_right</i>
							<span>Đăng nhập ứng dụng bằng tài khoản facebook</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Sử dụng Coupon đã nhận từ website</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Chờ trong vòng 1 phút để cửa hàng duyệt Coupon</span>
						</h5>
						<h5 class="green-text">
							<i class="material-icons">device_hub</i>
							<span>Những trường hợp trong khi sử dụng Coupon</span>
							<div>
								<span class="grey-text" style="padding-left: 27px">- Coupon không được duyệt bạn sẽ nhận được lý do từ shop.</span>
							</div>
							
							<div>
								<span class="grey-text" style="padding-left: 27px">- Coupon được duyệt và bạn phải thực hiện Feedback nếu Coupon có yêu cầu.</span>
							</div>		
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Sau khi sử dụng Coupon sẽ ẩn khỏi ứng dụng</span>
						</h5>
					</div>
				</div>
			</div>
		  </div>

		  <div id="approved" class="section scrollspy">
			<div class="col s12">
				<blockquote>
				  <h5>Cửa Hàng Duyệt Coupon</h5>
				</blockquote>
			</div>
			
			<div class="row">
			<div class="col s12 m7 l7">
			   <div class="col s12 m12 l12 pro-img z-depth-1" style="padding: 0px">
					<video width="100%" height="100%" controls>
					  <source src="img/1.mp4" type="video/mp4">
					  Your browser does not support HTML5 video.
					</video>
			   </div>
		   </div>
		   
			   <div class="col s12 m5 l5 pro-info">
					<div class="person-info" style="padding-bottom: 0">
						<h5 class="grey-text">
						   <i class="material-icons">chevron_right</i>
							<span>Đăng nhập ứng dụng bằng tài khoản facebook</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Tại màn hình home sẽ hiện danh sách các Coupon của khách hàng cần duyệt</span>
						</h5>
						<h5 class="grey-text">
							<i class="material-icons">chevron_right</i>
							<span>Shop chọn chấp nhận hoặc không chấp nhận Coupon của khách hàng</span>
						</h5>
						<h5 class="green-text">
							<i class="material-icons">device_hub</i>
							<span>Những trường hợp khi Shop duyệt Coupon</span>
							<div>
								<span class="grey-text" style="padding-left: 27px">- Shop không duyệt Coupon và gửi lý do cho khách hàng.</span>
							</div>
							
							<div>
								<span class="grey-text" style="padding-left: 27px">- Shop duyệt Coupon, Coupon sẽ bị ẩn khỏi màn hình home</span>
							</div>		
						</h5>
					</div>
				</div>
			</div>
		  </div>
		</div>
		<div class="col hide-on-small-only m3 l2">
		  <ul class="section table-of-contents">
			<li><a href="#action">Thực Hiện Tác Vụ</a></li>
			<li><a href="#getcoupon">Hướng Dẫn Lấy Coupon</a></li>
			<li><a href="#usecoupon">Hướng Dẫn Sử Dụng</a></li>
			<li><a href="#approved">Hướng Dẫn Duyệt Coupon</a></li>
		  </ul>
		</div>
	</div>
<!-- </div> -->
  
  <script>
	 function fixmetotop() {
	  var fixmeTop = $('.table-of-contents').offset().top;
	  $(window).scroll(function() {
		//aktuelle Scrollposition auslesen
		var currentScroll = $(window).scrollTop(),
		//+1em rechnen
		currentScroll = currentScroll + 15,
		actualBottom = $('#bodybox').offset().top + $('#bodybox').outerHeight(true),
		heightSideNav = $('.table-of-contents').outerHeight(true);
		if (currentScroll >= fixmeTop && currentScroll <= actualBottom - heightSideNav) {
		  //CSS für fixed setzen
		  $('.table-of-contents').css({
			position: 'fixed',
			top: '0',
			bottom: ''
		  });
		} else {
		  if(currentScroll >= actualBottom - heightSideNav) {
			$('.table-of-contents').css({
			  position: 'fixed',
			  bottom: '0',
			  top: ''
			});
		  } else {
			//CSS für nicht fixed setzen
			$('.table-of-contents').css({
			  position: 'static',
			  bottom: '',
			  top: ''
			});
		  }
		}
	  });
	}
	$(document).ready(function () {
	  fixmetotop();
	  $('.scrollspy').scrollSpy();
	});
  </script>