<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="" style="color: #EE6E73">Công Ty Cổ Phần MyCoupon</h5>
                <p class="blue-text">
                    <a href="mailto:kiennt.gm@gmail.com">Email: kiennt.gm@gmail.com</a>

                </p>
                <p class="blue-text">MST: 0342342534</p>
                <p class="blue-text">Địa Chỉ: Số 1 Thành Thái, Quận 10</p>
            </div>
            <div class="col l4 s12">
                <p>
                    <a class="blue-text" href="tel:02835443253">HotLine: (028) 35443253</a>
                </p>

                <!-- <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="">Tặng Coupon</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="">Thực hiện tác vụ</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="">Cách thức hoạt động</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="">Thông tin tài khoản</a>
                    </li>
                    <li>
                            <a class="grey-text text-lighten-3" href="">Liên hệ</a>
                    </li>
                </ul> -->
            </div>
            <div class="col l3 s12 center">
                <p style="color: #EE6E73">Tải App miễn phí</p>
                <img src="img/gp.png" alt="" class="responsive-img">
                <img src="img/ap.png" alt="" width="88%" class="responsive-img">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container grey-text">
            Copyrights © 2018 Coupon10k.com. All Rights Reserved
        </div>
    </div>
</footer>