<footer class="page-footer">
	<div class="foothead">
        <div class="container_2 black-text">
            <div class="row">
				<div class="col l5 s12">
					<p>Tải app miễn phí</p>
					<a href="https://play.google.com/store/apps/details?id=com.coupon10k.app" target="_blank"><img width="126px" src="img/google.png" alt="" class="responsive-img"></a>
					<a href="" target="_blank"><img width="126px" src="img/apple.png" alt="" class="responsive-img"></a>
				</div>
				<div class="col l4 s12">
					<p>Chia sẻ</p>
					<!-- Chia sẻ:  -->
                    <a socialshare socialshare-provider="facebook" class="facecss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị"
					socialshare-hashtags="coupon10k, coupon10k.com" socialshare-media="{{shop.shop_info[0].shop_cover}}" socialshare-url="{{_href}}">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
                    <a socialshare socialshare-provider="google" class="ggcss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị"
					socialshare-hashtags="coupon10k, coupon10k.com" socialshare-url="{{_href}}">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
					</a>
                    <a socialshare socialshare-provider="twitter" class="ttcss" socialshare-text="Truy cập trang để nhận nhiều coupon khuyến mãi có giá trị"
					socialshare-hashtags="coupon10k, coupon10k.com" socialshare-url="{{_href}}">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
					</a></h5>
				</div>
				<div class="col l3 s12">
					<p>Hotline</p>
					<a class="red-text" href="tel:02835443253">(028) 35443253</a>
				</div>
			</div>
        </div>
    </div>
    <div class="container_2 white-text">
        <div class="row">
            <div class="col l5 s12">
                <h5 class="">CÔNG TY CỔ PHẦN COUPON</h5>
                <p>
                    <a class="white-text" href="mailto:kiennt.gm@gmail.com">Email: kiennt.gm@gmail.com</a>

                </p>
                <p>Mã số thuế: 0342342534</p>
				
                <p> <a class="white-text" target="_blank" href="http://maps.google.com/?q=Số 1 Thành Thái, Quận 10, Tp.HCM">Địa chỉ: Số 1 Thành Thái, Quận 10, Tp.HCM</a> </p>
            </div>
            <div class="col l3 s12">
				<h5>THÔNG TIN</h5>
				<p> <a class="white-text" href="">Hướng dẫn sử dụng</a> </p>
                <p> <a class="white-text" href="">Liên hệ</a> </p>
                <p> <a class="white-text" href="">Chính sách bảo mật</a> </p>

            </div>
            <div class="col l4 s12 center">
				<!-- <img width="126px" src="assets/images/icon.png" alt="" class="responsive-img"> -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container_2 white-text">
            Copyrights © 2018 Coupon10k.com. All Rights Reserved
        </div>
    </div>
</footer>