<nav class="nav-extended" ng-controller="HomeCtrl" style="background:#EC407A">
    <div class="nav-wrapper">
        <a href="" ng-click="go_home()" class="brand-logo center">Coupon10k.com</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-show="auth">
                <h5 style="padding-top: 7px;">{{auth[0].point_plus}}đ</h3>
            </li>
            <li ng-show="auth">
                <a href="" data-activates="slide-out" class="button-collapse logoa" style="margin:0 !important; display: block !important;">
                    <img src="{{auth[0].user_img}}">
                </a>
            </li>
            <li ng-if="!auth">
                <a class="waves-effect waves-light btn btn-login" fb-login style="margin-bottom:0"> <i class="fa fa-facebook-official left" style="line-height: 37px;"></i> Đăng Nhập</a>
				<!-- <button class="btn btn-coupon" fb-login type="button" style="line-height: 0.428571;"> -->
						<!-- <i class="fa fa-facebook" aria-hidden="true" style="font-size: 2rem;"></i> -->
						<!-- Login With Facebook</button> -->
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li ng-if="auth" class="center">
                <a href="" class="logoa" style="margin: 0 auto; margin-top: 5px">
                    <img src="{{auth[0].user_img}}">
                </a>
            </li>
            <li ng-if="auth">
                <a href="">
				<i class="material-icons">attach_money</i>{{auth[0].point_plus}}đ</a>
                <!-- <h6 style="padding-top: 7px; color:black; margin-left: 30px;"><i class="material-icons">attach_money</i> 300đ</h6> -->
            </li>
			<li class="tab" ng-show="auth[0].role[0].id === 2 || auth[0].role[0].id === 3">
					<a href="" ng-click="go_shop()">
					<i class="material-icons">shop</i> Quản lý shop</a>
			</li>
            <li>
                <a href="" ng-click="go_home()">
                    <i class="material-icons">card_giftcard</i> Tặng Coupon</a>
            </li>
            <li ng-show="auth[0].role[0].id !== 2 && auth[0].role[0].id !== 3">
                <a href="" ng-click="auth[0].role[0].id !== 0 || go_action()">
                    <i class="material-icons">work</i> Thực hiện tác vụ</a>
            </li>
			<!-- <li> -->
                <!-- <a href="" ng-click="auth[0].role[0].id !== 0 || go_toshop()"> -->
                    <!-- <i class="material-icons">work</i>Quản lý shop</a> -->
            <!-- </li> -->
            <li>
                <a href="">
                    <i class="material-icons">feedback</i> Hướng dẫn sử dụng</a>
            </li>
            <li>
                <a href="" ng-click="go_account()">
                    <i class="material-icons">account_box</i> Thông tin tài khoản</a>
            </li>
            <li>
                <a href="">
                    <i class="material-icons">add_location</i> Liên hệ</a>
            </li>
            <li ng-if="!auth">
                <a class="waves-effect waves-light btn btn-login" fb-login style="margin-bottom:0"> <i class="fa fa-facebook-official left" style="line-height: 37px;"></i> Đăng Nhập</a>
            </li>
            <li ng-if="auth">
                <a class="waves-effect waves-light btn" style="background:#EC407A; box-shadow: none" ng-click="logout()">Logout</a>
            </li>
        </ul>
    </div>
    <div class="nav-content">
        <ul id="nav-web" class="tabs center hide-on-med-and-down">
			<li class="tab" ng-show="auth[0].role[0].id === 2 || auth[0].role[0].id === 3">
					<a href="" ng-click="go_shop()">Quản lý shop</a>
			</li>
            <li class="tab" ng-click="go_home()">
                <a href="">Tặng Coupon</a>
            </li>
            <li class="tab" ng-show="auth[0].role[0].id !== 2 && auth[0].role[0].id !== 3">
                <a href="" ng-click="auth[0].role[0].id !== 0 || go_action()">Thực hiện tác vụ</a>
            </li>
            <li class="tab">
                <a href="">
                    <h5 class="hdsd">Hướng dẫn sử dụng</h5>
                </a>
            </li>
            <li class="tab">
                <a href="" ng-click="go_account()">Thông tin tài khoản</a>
            </li>
            <li class="tab">
                <a href="">Liên hệ</a>
        </ul>
    </div>
</nav>

<!-- Modal Structure -->
<div id="login" class="modal modal_2">
    <div class="modal-content">
        <h5>NHẬN MÃ GIẢM GIÁ</h5>
        <p>Copy mã giảm giá phía dưới, sau đó nhập mã trước khi thanh toán để nhận ưu đãi giảm giá. Xin đọc kỹ quy định
            sử dụng.</p>
        <div class="row">
            <div class="input-field col s12">
                <input id="first_name" type="text" ng-model="detail_basic.code_coupon" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="btn btn-coupon modal-close" type="submit" name="action" style="right: 35px; position: absolute;"
                    ng-click="go_ma_giam_gia(detail_basic.shopUrl)">Đồng Ý
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>