<form class="rating">
    <label>
        <input type="radio" name="stars" value="1" disabled ng-checked="content.coupon.rating === 1"/>
        <span class="icon">★</span>
    </label>
    <label>
        <input type="radio" name="stars" value="2" disabled ng-checked="content.coupon.rating === 2"/>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
    <label>
        <input type="radio" name="stars" value="3" disabled ng-checked="content.coupon.rating === 3"/>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
    <label>
        <input type="radio" name="stars" value="4" disabled ng-checked="content.coupon.rating === 4"/>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
    <label>
        <input type="radio" name="stars" value="5" disabled ng-checked="content.coupon.rating === 5"/>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
        <span class="icon">★</span>
    </label>
</form>