<div class="row" ng-controller="HomeCtrl">
	<div class="slider">
			<div class="progress" ng-if="!loading">
					<div class="indeterminate"></div>
			</div>
		<ul class="slides z-depth-3" ng-show="loading">
			<li ng-repeat="content in Sliders">
				<img src="{{content.Image}}">
				<!-- <div class="caption center-align" ng-show="content.ShopId !== null"> -->
					<!-- <!-- <h3>{{content.shop_info[0].shop_name}}</h3> --> -->
					<!-- <a class="waves-effect waves-light btn btn-coupon" style="margin-bottom: 25px" ng-click="slider_go(content)">{{content.Button}}</a> -->
				<!-- </div> -->
				<div class="caption center-align" style="background: transparent">
					<a class="waves-effect waves-light btn btn-coupon btn-other" ng-click="slider_go(content)">{{content.Button}}</a>
				</div>
			</li>

		</ul>
	</div>

</div>

<script>
	$(document).ready(function () {
		setTimeout(function () {
			$('.slider').slider({
				indicators: true,
				interval: 3500
			});
		}, 500);
	});
</script>