<div class="row" ng-controller="HomeCtrl">



	<div class="slider">
			<div class="progress" ng-if="!loading">
					<div class="indeterminate"></div>
			</div>
		<ul class="slides" ng-if="loading">
			<li ng-repeat="content in vip">
				<img src="{{content.shop_info[0].shop_cover}}">
				<div class="caption center-align">
					<h3>{{content.shop_info[0].shop_name}}</h3>
					<a class="waves-effect waves-light btn btn-coupon" style="margin-bottom: 25px" ng-click="go_shop_by_id(content._id)">Nhận Coupon</a>
				</div>
			</li>

		</ul>
	</div>

</div>

<script>
	$(document).ready(function () {
		setTimeout(function () {
			$('.slider').slider({
				indicators: true,
				interval: 4000
			});
		}, 2500);
	});
</script>